#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 80px;
    overflow: hidden;
}

#projects .items{
    flex-direction: column;
    
}

#projects .items .item{
    width: 100%;
}

.courses .course{
    flex-direction: column;
    align-items: center;
}

